* {
    font-family: '微软雅黑';
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    transition: transform 0.4s;
}

a {
    color: black;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(73, 63, 62);
}

#load
{
    width: 100%;
    height: 100%;
    background:rgb(73, 63, 62);
    z-index: 2;
}
#contain {
    width: 100%;
    height: 87%;
    position: absolute;
    display: none;
    overflow: hidden;
}

#card {
    width: 100%;
    height: 100%;
    background:  rgb(73, 63, 62);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
}



/*************** Show card *******************/


#demo a {
    display: block;
    transform: translateY(-20%);
}

#demo a:nth-of-type(1):hover {
    color: #75BC30;
}

#demo a:nth-of-type(2):hover {
    color: #2932E1;
}

.project-info {
    height: 100%;
    background-color: #FFF;
}

.content-wrapper {
    /*display: none;*/
    transform: translateY(100%);
    transition: all 0.8s;
    opacity: 1;
    font-size: 1.1em;
}

.content-wrapper a {
    line-height: 200%;
}

.show {
    height: 100%;
    overflow: hidden;
    display: none;
}

.show .single-project {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transition: transform 0.4s;
}

.show .single-project:nth-of-type(2) {
    transform: translateY(33.3333333333%);
}

.show .single-project:nth-of-type(3) {
    transform: translateY(66.6666666667%);
}

.cd-title {
    position: relative;
    z-index: 1;
    cursor: pointer;
    height: 33.33333333%;
    width: 100%;
    text-align: center;
    transition: all 0.0s
}

.cd-title h2 {
    position: relative;
    z-index: 1;
    top: 50%;
    font-size: 1.7em;
    color: #FFF;
    vertical-align: middle;
    transform: translateY(-50%);
    transition: color 1.0s;
    transition: transform 0.4s;
}

.cd-title::before {
    /* background-image: */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 1.0s;
}


/* line below title visible on hover */

.cd-title::after {
    content: '';
    position: absolute;
    left: 50%;
    top: calc(50% + 20%);
    transform: translateX(-50%) translateY(-50%) scaleX(0);
    height: 1px;
    width: 60px;
    background-color: #FFFFFF;
    transition: transform 0.2s;
}

.cd-title:hover::after {
    transform: translateX(-50%) translateY(-50%) scaleX(1);
}

.selected .cd-title:hover::after {
    transform: translateX(-50%) translateY(-100%) scaleX(1);
}

.single-project:nth-of-type(1) .cd-title::before {
    /*background-color: rgba(229, 100, 43, 1);*/
    background-image: url(../img/locate3.jpg);
    background-size: cover;
}

.single-project:nth-of-type(2) .cd-title::before {
    /*background-color: rgba(31, 181, 84, 1);*/
    background-image: url(../img/lion1.jpg);
    background-size: cover;
}

.single-project:nth-of-type(3) .cd-title::before {
    /*background-color: rgba(225, 49, 87, 1);*/
    background-image: url(../img/leo3.jpg);
    background-size: cover;
}


/********show card event *************/

.show .single-project.selected {
    /* 选中一个项目 */
    background: #FFF;
    color: #000;
    transform: translateY(0);
    overflow:auto;
}

.show .single-project.selected~li { /*~兄弟选择器 selected后的所有li */
    /* 隐藏后面的项目*/
    transform: translateY(100%);
}

.selected .cd-title h2 {
    transform: translateY(-100%);
}

.selected .cd-title {
    background-color: rgba(255, 255, 255, 0.5);
}

.selected .cd-title::before {
    height: 89%;
}

.selected .content-wrapper {
    transform: translateY(-5%);
    z-index: 3;
    opacity: 1;
}
.no-selected .content-wrapper {
    transform: translateY(+5%);
    opacity: 0;
}
.content-wrapper p
{
    width: 90%;
    max-width: 800px;
    margin: 2em auto;
    line-height: 1.6;
    color: #442727;
}
.content-wrapper table
{
    transform: translateY(+5%);
    width: 90%;
    max-width: 800px;
    margin: 2em auto;
    line-height: 1.6;
    color: #442727;
}
.content-wrapper a
{
    width: 90%;
    max-width: 800px;
    margin: 2em auto;
    line-height: 1.6;
    color: #694d59;
}


/*************** logo*******************/
.logo
{
    /* display: block; */
    position: relative;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    cursor: pointer;
    /* z-index: 3; */
}
/*************** home*******************/
#home {
    display: block;
    color:#eb7e33;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, +50%);
    bottom: 15%;
}
